/************************************** SELETOR UNIVERSAL */
/*
*{
    border: 1px solid red;
}*/

/* SELETOR DE FILHO */
/*
span>a {
    color: red;
    text-decoration: none;
} */

/* SELETOR DE DESCENDENTE   */
/*
div a{
    color: green;
} */

/* SELETOR DE IRMÃO ADJACENTE   */
/*
h1+p{
    color: red;
} */

/* SELETOR DE IRMÃO GERAL   */
/*
h1~p{

} */