/************************************** SELETOR UNIVERSAL */
/*
*{
    border: 1px solid red;
}*/

/* SELETOR DE FILHO */
/*
span>a {
    color: red;
    text-decoration: none;
} */

/* SELETOR DE DESCENDENTE   */
p a{
    color: green;
}